backend/api/node_modules
.idea
.idea/sonarlint
backend/api/package-lock.json
backend/api/.env
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/securityhotspotstore/index.pb
backend/api/package-lock.json
package-lock.json